/*///////////////////// GENEREAL STYLES /////////////////////*/

* {
    font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
}

p {
    text-align: justify;
}

li {
    font-size: 22.4px;
}

/*///////////////////// GENEREAL STYLES /////////////////////*/

/*///////////////////// NAVBAR STYLES /////////////////////*/

header {
    background-color: rgba(182, 232, 245, 0.815);
    margin-bottom: 1em;
    padding: 1em;
    transition: all 2s ease;
}

.CapyAcademy {
    margin-left: 20px;
    margin-right: 700px;
    color: black;
    font-size: 28px;
    list-style: none;
    text-decoration: none;
}

.navbar {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.nav_ul {
    display: flex;
    list-style: none;
}

.nav_ul li a {
    margin: 0;
    color: black;
    list-style: none;
    text-decoration: none;
    padding: 1em;
}

.nav_ul li a:hover {
    background-color: #2ab2d4;
}

.material-symbols-outlined {
    position: absolute;
    top: 32px;
    right: 15px;
    user-select: none;
    cursor: pointer;
}

#toggle {
    display: none;
}

/*///////////////////// NAVBAR STYLES /////////////////////*/

/*///////////////////// BODY STYLES /////////////////////*/

body {
    margin: 0;
    background: #e9e9e949;
    min-height: 97.5vh;
    transition: all 2s ease;
}

.conteiner {
    width: 75vw;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
    margin-bottom: 5em;
}

.titulo {
    text-align: center;
    font-size: 32px;
}

.text {
    text-align: justify;
    font-size: 22.4px;
    text-indent: 14px;
}

.conteiner_img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.havepositive {
    border-radius: 1em;
    margin: 0;
    max-width: 600px;
    min-width: 320px;
    margin-bottom: 1em;
}

.havenegative {
    border-radius: 1em;
    margin: 0;
    max-width: 600px;
    min-width: 320px;
    margin-bottom: 1em;
}

.havequestion {
    border-radius: 1em;
    margin: 0;
    max-width: 600px;
    min-width: 320px;
    margin-bottom: 1em;
}

/*///////////////////// BODY STYLES /////////////////////*/

/*///////////////////// DARKBODY STYLES /////////////////////*/

.darkmodebody {
    background-color: #18191ae1;
    color: rgba(255, 255, 255, 0.904);
    transition: all 2s ease;
}

body.darkmodebody header {
    background-color: #4646468c;
    color: rgba(255, 255, 255, 0.904);
}

body.darkmodebody nav ul li a {
    color: rgba(255, 255, 255, 0.904)
}

body.darkmodebody a {
    color: rgba(255, 255, 255, 0.904)
}

body.darkmodebody footer {
    background-color: #4646468c;
}

body.darkmodebody .havequestion:hover {
    box-shadow: 0 0.1rem 0.4rem white
}

body.darkmodebody .havenegative:hover {
    box-shadow: 0 0.1rem 0.4rem white
}

body.darkmodebody .havepositive:hover {
    box-shadow: 0 0.1rem 0.4rem white
}

/*///////////////////// DARKBODY STYLES /////////////////////*/

/*///////////////////// FOOTER STYLES /////////////////////*/

.footer {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    background-color: rgba(182, 232, 245, 0.815);
}

.derechos {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.personal_red {
    text-decoration: none;
    color: black;
}

/*///////////////////// FOOTER STYLES /////////////////////*/

/*///////////////////// RESPONSIVE STYLES /////////////////////*/

@media (max-width: 1250px) {
    article {
        display: block;
    }

    .navbar {
        display: inline;
    }

    .nav_ul {
        display: flex;
        justify-content: center;
        gap: 40px;
    }

    .CapyAcademy {
        display: flex;
        justify-content: center;
        margin-bottom: 2em;
        margin-right: 0;
    }

    .footer {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .desarrolladores {
        text-align: center;
    }
}

/*///////////////////// RESPONSIVE STYLES /////////////////////*/